<div class="container-fluid">
    <div class="project-nav-wrap row-fluid">
        <div class="span10 offset1">
            <nav class="project-nav navbar navbar-static-top navbar-inverse">
                <div class="navbar-inner">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">seasons</a></li></ul>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            {% for season in seasons %}
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ season.season }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for e in season.episodes %}<li>
                                        <a {% if episode %}
                                        {% if e.code == episode.code %}
                                        selected=selected
                                        {% endif %}
                                        {% endif %}
                                        href="{{ e.url }}">{{ e.text }}</a>
                                    </li>
                                {% endfor %}</ul>
                            </li>{% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>