{% extends "_admin_base.html" %}

{% block title %}
    {% if prev %}<a href="/admin/episodes/{{ prev.code }}/">&larr;</a>{% endif %}
    <a target="_blank" href="https://docs.google.com/spreadsheet/ccc?key=0Akb_aqtU8lsGdGhIRXhsT24taTlXNGI4YndnS1c4eEE#gid=1">{{ episode.title }}</a>
    {% if next %}<a href="/admin/episodes/{{ next.code }}/">&rarr; </a>{% endif %}
{% endblock %}

{% block content %}
    <div id="episode">
        <div class="row-fluid">
            <p class="span12">
                <label>Blurb</label>
                <textarea>{{ episode.blurb }}</textarea>
            </p>
        </div>
        <div class="row-fluid">
            <p class="span12"><a href="#" class="btn btn-success btn save"><i class="icon-ok icon-white"></i> Save</a></p>
        </div>
    </div>

    <a href="#" class="btn btn btn-info show-form"><i class="icon-plus icon-white"></i> New Joke</a>
    <div id="episodejoke" class="clearfix" style="display:none;">
        <div class="row-fluid">
            <p class="span12"><label>Joke</label>
                <input class="typeahead" type="text" data-provide="typeahead" data-items="10"></input>
                <p id="selected" style="display:none;"></p>
            </p>
        </div>
        <div class="row-fluid">
            <p class="span12"><label>Type</label>
                <select>
                    <option value="1">mention</option>
                    <option value="f">foreshadowing</option>
                    <option value="b">background</option>
                </select>
            </p>
        </div>
        <div class="row-fluid">
            <p class="span12"><label>Details</label> <textarea></textarea></p>
        </div>
        <div class="row-fluid">
            <p class="span12"><a href="#" class="btn btn-success btn save"><i class="icon-ok icon-white"></i> Save</a></p>
        </div>
    </div>

    <h4>Jokes</h4>
    <div id="joke-list">
        {% for ej in episodejokes %}
            {% include '_episodejoke_form_row.html' %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('a.show-form').on('click', function(){
            $('#episodejoke').toggle();
            return false;
        });
        $('.typeahead').typeahead({
            'source': [{% for joke in jokes %}"{{ joke.code }}: {{ joke.primary_character}}<br/>{{ joke.text }}<br/>{{ joke.blurb }}",{% endfor %}],
            'updater': function(item){
                $('#selected').attr('data-joke-code', item.split(':')[0]);
                $('#selected').html('<a id="kill-new-ej" class="btn btn-danger btn-small delete"><i class="icon-remove icon-white"></i></a> ' + item);
                $('#episodejoke input.typeahead').toggle();
                $('#selected').toggle();
            }
        });
        $('#episodejoke').on('click', 'a#kill-new-ej', function(){
            $('#episodejoke input.typeahead').toggle();
            $('#selected').toggle();
            return false;
        });
        $('#episode a.save').on('click', function(){
            data = {}
            data['blurb'] = $('#episode textarea').val();

            $.ajax({
                'async': true,
                'cache': false,
                'data': data,
                'type': 'PUT',
                'success': function(response){
                    console.log(response);
                }
            });
            return false;
        });
        $('#episodejoke a.save').on('click', function(){
            data = {}
            data['joke_code'] = $('#selected').attr('data-joke-code');
            data['details'] = $('#episodejoke textarea').val();
            data['type'] = $('#episodejoke option:selected').attr('value');

            $.ajax('episodejoke/', {
                'async': true,
                'cache': false,
                'data': data,
                'type': 'PUT',
                'success': function(response){
                    $('#selected').html('');
                    $('#selected').attr('data-joke-code', '');
                    $('#episodejoke textarea').val('');
                    $('#episodejoke option:selected').removeAttr('selected');
                    $('#joke-list').append(response);
                    $('#episodejoke input.typeahead').toggle();
                    $('#selected').toggle();
                }
            });
            return false;
        });
        $('#joke-list').on('click', 'a.delete', function(){
            data = {}
            data['episode_joke_id'] = parseInt($(this).attr('data-episodejoke-id'));
            $.ajax('episodejoke/', {
                'async': true,
                'cache': false,
                'data': data,
                'type': 'POST',
                'success': function(response){
                    var $deathElement = $('div#episodejoke-' + response);
                    $deathElement.remove();
                }
            });
            return false;
        });
    </script>
{% endblock %}