{% extends "_admin_base.html" %}

{% block title %}
    {% if prev %}<a href="/admin/episodes/{{ prev.code }}/">&larr;</a>{% endif %}
    {{ episode.title }}
    {% if next %}<a href="/admin/episodes/{{ next.code }}/">&rarr; </a>{% endif %}
{% endblock %}

{% block content %}
    <div id="episode">
        <div class="row-fluid">
            <p class="span12">
                <label>Blurb</label>
                <textarea>{% if episode.blurb %}{{ episode.blurb }}{% endif %}</textarea>
            </p>
        </div>
        <div class="row-fluid">
            <p class="span12"><a href="#" class="btn btn-success btn save">Save</a></p>
        </div>
    </div>

    <h4>Jokes <a href="#newEpisodeJokeModal" role="button" class="show-form" data-toggle="modal">&plus;</a></h4>
    <div id="joke-list">
        {% for ej in episodejokes %}
            {% include '_episodejoke_form_row.html' %}
        {% endfor %}
    </div>
    <div id="alerts"></div>
    <div id="newEpisodeJokeModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Create joke</h3>
        </div>
        <div class="modal-body">
            <div id="episodejoke" class="clearfix">
                <div class="row-fluid">
                    <div class="span12"><label>Joke</label>
                        <input class="typeahead-episode" type="text" data-provide="typeahead" data-items="6"></input>
                        <p class="selected" style="display:none;">&nbsp;</p>
                    </div>
                </div>
                <div class="row-fluid">
                    <p class="span12"><label>Type</label>
                        <select>
                            <option value="1">mention</option>
                            <option value="f">foreshadowing</option>
                            <option value="b">background</option>
                        </select>
                    </p>
                </div>
                <div class="row-fluid">
                    <p class="span12"><label>Details</label> <textarea></textarea></p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-success btn save">Save</a>
        </div>
    </div>
    <div id="newRelatedJokeModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Related joke</h3>
        </div>
        <div class="modal-body">
            <div id="related-joke" class="clearfix">
                <div class="row-fluid">
                    <div class="span12"><label>Joke</label>
                        <input class="typeahead-related" type="text" data-provide="typeahead" data-items="6"></input>
                        <p class="selected" style="display:none;">&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-success btn save">Save</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var ej_id = null;

        function make_alert(text, klass){
            var alert_template = _.template('<div class="alert <%= klass %>"><%= text %></div>')
            $('#alerts').html('');
            $('#alerts').append(alert_template({'text': text, 'klass': klass}));
            var t = setTimeout(function(){
                $('#alerts .alert').fadeOut(500, function(){
                    $('#alerts').html('');
                });
            }, 1000)
        }
        $('body').on('click', 'a.related', function(){
            var targetId = $(this).attr('href');
            $(targetId).addClass('flash');
            var t = setTimeout(function(){
                $(targetId).removeClass('flash');
            }, 1000)
            $(targetId)
        })
        $('a.add-related').on('click', function(){
            $('.typeahead-related').typeahead({
                'source': [{% for joke in jokes %}"{{ joke.code }}: {{ joke.primary_character}} {{ joke.text }}<br/>{{ joke.blurb }}",{% endfor %}],
                'updater': function(item){
                    $('#newRelatedJokeModal .selected').attr('data-joke-code', item.split(':')[0]);
                    $('#newRelatedJokeModal .selected').html('<a class="kill new-ej-rel btn btn-danger btn-small delete"><i class="icon-remove icon-white"></i></a> ' + item);
                    $('.typeahead-related').toggle();
                    $('#newRelatedJokeModal .selected').toggle();
                }
            });
            $('#newRelatedJokeModal').modal();
            ej_id = $(this).attr('data-ej-id');
            return false;
        });
        $('a.show-form').on('click', function(){
            $('.typeahead-episode').typeahead({
                'source': [{% for joke in jokes %}"{{ joke.code }}: {{ joke.primary_character}} {{ joke.text }}<br/>{{ joke.blurb }}",{% endfor %}],
                'updater': function(item){
                    $('#episodejoke .selected').attr('data-joke-code', item.split(':')[0]);
                    $('#episodejoke .selected').html('<a class="kill new-ej btn btn-danger btn-small delete"><i class="icon-remove icon-white"></i></a> ' + item);
                    console.log($('#episodejoke .selected'));
                    $('.typeahead-episode').toggle();
                    $('#episodejoke .selected').toggle();
                }
            });
            $('#newEpisodeJokeModal').modal();
            return false;
        });
        $('#episodejoke').on('click', 'a.new-ej', function(){
            $('.typeahead-episode').toggle();
            $('#episodejoke .selected').toggle();
            return false;
        });
        $('#episodejoke').on('click', 'a.new-ej-rel', function(){
            $('.typeahead-related').toggle();
            $('#related-joke .selected').toggle();
            return false;
        });
        $('#episode a.save').on('click', function(){
            var data = {}
            data['blurb'] = $('#episode textarea').val();

            $.ajax({
                'async': true,
                'cache': false,
                'data': data,
                'type': 'PUT',
                'success': function(response){
                    make_alert('You have updated this episode.' , 'alert-info');
                    $('#episode textarea').removeClass('unsaved');
                }
            });
            return false;
        });
        $('#newEpisodeJokeModal a.save').on('click', function(){
            var data = {}
            data['joke_code'] = $('#newEpisodeJokeModal .selected').attr('data-joke-code');
            data['details'] = $('#episodejoke textarea').val();
            data['type'] = $('#episodejoke option:selected').attr('value');

            $.ajax('episodejoke/', {
                'async': true,
                'cache': false,
                'data': data,
                'type': 'PUT',
                'success': function(response){
                    $('#newEpisodeJokeModal').modal('toggle');
                    $('#newEpisodeJokeModal .selected').html('');
                    $('#newEpisodeJokeModal .selected').attr('data-joke-code', '');
                    $('#newEpisodeJokeModal .selected').toggle();
                    $('#episodejoke textarea').val('');
                    $('#episodejoke option:selected').removeAttr('selected');
                    $('#episodejoke .typeahead-episode').toggle();
                    $('#joke-list').append(response);
                }
            });
            return false;
        });
        $('#newRelatedJokeModal a.save').on('click', function(){
            var data = {}
            data['joke_code'] = $('#newRelatedJokeModal .selected').attr('data-joke-code');
            data['episode_joke_id'] = ej_id;
            $.ajax('jokeconnection/', {
                'async': true,
                'cache': false,
                'data': data,
                'type': 'PUT',
                'success': function(response){
                    console.log('response');
                    $('#newRelatedJokeModal').modal('toggle');
                    $('#newRelatedJokeModal .selected').html('');
                    $('#newRelatedJokeModal .selected').attr('data-joke-code', '');
                    $('#newRelatedJokeModal .selected').toggle();
                    $('#episodejoke-' + ej_id + ' span.joke-connections-target').html(response);
                }
            });
            return false;
        });
        $('#joke-list').on('click', 'a.kill-related', function(){
            var data = {}
            data['jc_id'] = $(this).attr('data-jc-id');
            $.ajax('jokeconnection/' + data['jc_id'] + '/delete/', {
                'async': true,
                'cache': false,
                'data': data,
                'type': 'DELETE',
                'success': function(response){
                    console.log(response);
                    var $deathElement = $('#jokeconnection-' + response);
                    $deathElement.remove();
                    make_alert('You have deleted a joke connection.', 'alert-danger');
                }
            });
            return false;
        });
        $('#joke-list').on('click', 'a.save', function(){
            var data = {}
            data['episode_joke_id'] = parseInt($(this).attr('data-episodejoke-id'));
            data['details'] = $('#episodejoke-' + data['episode_joke_id'] + ' textarea').val();
            $.ajax('episodejoke/', {
                'async': true,
                'cache': false,
                'data': data,
                'type': 'POST',
                'success': function(response){
                    make_alert('You have updated an episodejoke.' , 'alert-info');
                    $('#episodejoke-'+ response +' textarea').removeClass('unsaved');
                }
            });
        });
        $('#joke-list').on('click', 'a.delete', function(){
            var data = {}
            data['episode_joke_id'] = parseInt($(this).attr('data-episodejoke-id'));
            $.ajax('episodejoke/' + data['episode_joke_id'] + '/delete/', {
                'async': true,
                'cache': false,
                'data': data,
                'type': 'DELETE',
                'success': function(response){
                    var $deathElement = $('div#episodejoke-' + response);
                    $deathElement.remove();
                    make_alert('You have deleted an episodejoke.' , 'alert-danger');
                }
            });
            return false;
        });
        $('body').on('change', 'textarea', function(){
            $(this).addClass('unsaved');
        });
    </script>
{% endblock %}