{% extends "_base.html" %}

{% block body_class %}detail episode-detail{% endblock body_class %}

{% block header_content %}
<div class="small-header container-fluid">
    <div class="row-fluid">
        <div class="span10 offset1">
            <a href="../"><img src="img/title-small.png"></a>
        </div>
    </div>
</div>
{{ super() }}
{% endblock header_content %}

{% block content %}
<div class="detail-header row-fluid">
    <div class="span10 offset1">
        <h2>Season {{ episode.season}}, Episode {{ episode.episode }}</h2>
        <h1> {{ episode.title }}</h1>
        <p class="episode-meta">Originally aired {{ episode.run_date.strftime('%A, %B %e, %Y') }} | Watched by <span class="viewer-count">{{ episode.rating }} million</span> viewers.</p>
        <p class="blurb">{{ episode.blurb }}</p>
    </div>
</div>
<div class="row-fluid">
    <p class="detail-count span10 offset1"><span class="count">{{ episodejokes|length }}</span> recurring jokes in this episode:</p>
</div>
{% for character in episodejokes %}<div class="character row-fluid">

<h2 class="span3 offset1">{{ character.name }}</h2>

<ul class="joke-list span7">{% for ej in character.jokes %}
    <li class="joke {{ ej.formatted_type() }}">
        <a href="joke-{{ ej.joke.code }}.html">
            {{ ej.joke.text.strip() }} {% if ej.formatted_type() != 'standard' %}({{ ej.formatted_type() }}){% endif %}
        </a>
        {% if ej.details != None %}
            <p class="extra details {{ ej.formatted_type() }}">
                {{ ej.details.replace("/", "</span><span class='extra details'>")|safe }}
            </p>
        {% endif %}
        {% if ej.connections() != [] %}{% for joke in ej.connections() %}
            <p class="extra connection {{ ej.formatted_type() }}">
                <strong>Related Joke:</strong> <a href="{{ joke.url }}">{{ joke.text }} {% if ej.formatted_type() != 'standard' %}({{ ej.formatted_type() }}){% endif %}</a>
            </p>
        {% endfor %}{% endif %}
    </li>
{% endfor %}</ul>
</div>{% endfor %}

{% include "_source.html" %}
{% include "_comments.html" %}
{% endblock %}
