{% extends "_base.html" %}

{% block content %}

<h1>{{ episode.code}}: {{ episode.title }}</h1>
<ul>
    <li>Season: {{ episode.season }}</li>
    <li>Episode: {{ episode.episode }}</li>
    <li>Rating: {{ episode.rating }}</li>{% if episodejokes %}
    <li>Related jokes:<ul>{% for ej in episodejokes %}
            <li><a href="joke-{{ ej.joke.code }}.html">{{ ej.joke.primary_character }}: {{ ej.joke.text }}{{ ej.long_joke_type() }}</a></li>
        {% endfor %}</ul>
    </li>
{% endif %}</ul>
{% endblock %}