{% extends "_base.html" %}

{% block content %}

<h2><strong>{{ joke.primary_character }}</strong> {{ joke.text }}</h2>
<h4>{{ joke.blurb }} This joke appears in <a href="#episodes">{{ episodejokes|length }}</a> episodes.</h4>
<h2>Episodes featuring this joke:</h2>
<ul>{% for ej in episodejokes %}
    <li>
        <a href="episode-{{ ej.episode.code }}.html">
            Season {{ ej.episode.season }}, episode {{ ej.episode.episode }}: {{ ej.episode.title.strip() }}
        </a>
        {% if ej.details != None %}
            <span class="extra details">
                {{ ej.details.replace("/", "</span><span class='extra details'>")|safe }}
            </span>
        {% endif %}
        {% if ej.related_episode_joke %}
            <span class="extra connection">
                <a href="joke-{{ ej.related_episode_joke.joke['code'] }}.html">
                    <strong>{{ ej.related_episode_joke.joke['primary_character'] }}</strong>
                    {{ ej.related_episode_joke.joke['text'] }}
                </a>
            </span>
        {% endif %}
    </li>
{% endfor %}</ul>

{% endblock %}