{% extends "_base.html" %}

{% block body_class %}viz{% endblock body_class %}

{% block header_content %}
<header class="title-header">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span10 offset1">

                <h1><img alt="We've made a huge mistake" src="img/title.png"></h1>
                <h2>NPR's guide to the running gags from Arrested Development.</h2>
                <p class="credits">By Jeremy Bowers, Adam Cole, Danny DeBelius, Christopher Groskopf and Alyson Hurt / NPR</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
</header>
{% include "_nav.html" %}
{% endblock header_content %}

{% block wide_content %}
<section class="the-goods">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10 offset1" id="dataviz">
                <h3>Recurring Jokes: In One Chart</h3>
                <ul class="ad-key">
                    <li class="key-j">Joke</li>
                    <li class="key-b">Joke in the background</li>
                    <li class="key-f">Foreshadowed joke</li>
                    <li class="key-c">Related joke</li>
                </ul>
                <div id="viz" class="viz">
                    <div id="viz-tooltip"></div>
                </div>

            </div>
        </div>
    </div>
</div>

{% include "_source.html" %}

<script type="text/javascript">
    var group_order = {{ group_order }};
    var joke_data = {{ joke_data }};
    var connection_data = {{ connection_data }};
    var episodes = {{ episodes }};
</script>

{% endblock %}

