{% extends "_base.html" %}

{% block body_class %}viz-index{% endblock body_class %}

{% block header_content %}
<header class="title-header">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span10 offset1">
                <div class="title-wrapper">
                    <h1><img alt="{{ PROJECT_NAME }}" src="img/title.png"></h1>
                    <h2>{{ PROJECT_SUBTITLE }}</h2>
                    <p class="credits">
                    By Jeremy Bowers, Adam Cole, Danny DeBelius, Christopher Groskopf and Alyson Hurt<br/>
                    May 18, 2013
                </p>
                </div>
                {# 300x250 ad #}
                <div class="adwrapper">
                    <div class="sponsor300">
                        <script type="text/javascript">
                        <!--
                        try {
                            DFP.renderLocation('desktop');
                        } catch(e) {
                            NPR.messaging.warning('Problem fetching/rendering desktop ad server code.', 'DFP.renderLocation', NPR.messaging.constants.SPONSORSHIP_ERROR);
                        }
                        // -->
                        </script>
                    </div>
                </div>
			</div>
		</div>
	</div>
</header>
{% include "_nav.html" %}
{% endblock header_content %}

{% block wide_content %}
<section class="the-goods">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10 offset1" id="dataviz">
                <p>Arrested Development is <a href="http://www.npr.org/blogs/monkeysee/2013/04/04/176216217/arrested-development-comes-back-on-netflix-on-may-26-so-get-extra-sleep-now">coming back</a> on May 26! Because <strike>we're obsessed</strike> we care about your rewatching experience, we wrote down all the recurring gags in every episode &mdash; with special attention to jokes hidden in the background (<a href="">like Cloudmir vodka</a>) or being foreshadowed (<a href="joke-122.html">like when Buster lost his hand</a>).</p>
                <p id="click-for-details">Click the jokes for disconcerting detail.</p>
                {% include "_key.html" %}
                <div class="viz-wrap">
                    <div id="viz-tooltip"></div>
                    <div id="viz" class="viz">
                    </div>
                </div>
            </div>
        </div>
        {% include "_source.html" %}
    </div>
</div>



<script type="text/javascript">
    var group_order = {{ group_order }};
    var joke_data = {{ joke_data }};
    var connection_data = {{ connection_data }};
    var episodes = {{ episodes }};
</script>

{% endblock %}

