{% extends "_base.html" %}

{% block body_class %}viz-index{% endblock body_class %}

{% block header_content %}
<header class="title-header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10 offset1">
                <h1><img alt="{{ PROJECT_NAME }}" src="img/title.png"></h1>
                <h2>NPR's guide to the running gags from the show.</h2>
                <p class="credits">
                    By Jeremy Bowers, Adam Cole, Danny DeBelius, Christopher Groskopf and Alyson Hurt / NPR<br/>
                    May 18, 2013
                </p>
            </div>
        </div>
    </div>
</header>
{% include "_nav.html" %}
{% endblock header_content %}

{% block wide_content %}
<section class="the-goods">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10 offset1" id="dataviz">
                <p>We wrote down all the recurring gags in every episode, and noted when the jokes combine (<a href="joke-33.html">like when G.O.B. makes a huge mistake</a>) and when they were being foreshadowed (<a href="joke-122.html">like the one about Buster's hand</a>). Click for obsessive detail.</p>
                <ul class="ad-key">
                    <li class="key-j">Occurrence of a joke or gag</li>
                    <li class="key-b">When it happens in the background</li>
                    <li class="key-f">Foreshadowing</li>
                    <li class="key-c">Combined joke</li>
                </ul>
                <div id="viz" class="viz">
                    <div id="viz-tooltip"></div>
                </div>

            </div>
        </div>
        {% include "_source.html" %}
    </div>
</div>



<script type="text/javascript">
    var group_order = {{ group_order }};
    var joke_data = {{ joke_data }};
    var connection_data = {{ connection_data }};
    var episodes = {{ episodes }};
</script>

{% endblock %}

